# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=250"]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        stages: [commit]
        exclude: 'poetry\.lock|tests/jwt\.txt'
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    # Ruff version.
    rev: "v0.0.287"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.1
    hooks:
      - id: mypy
        additional_dependencies:
          [tokenize-rt==3.2.0, pydantic>=2.0.0, types-pyyaml, types-toml]
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.10
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: tests
        name: tests
        stages: [push]
        language: system
        entry: poetry run pytest
        types: [python]
        pass_filenames: false
