[build-system]
build-backend = "flit_core.buildapi"
requires = ["flit_core >=2,<4"]

[tool.flit.metadata]
author = "Colton Hicks"
author-email = "pypi@coltonhicks.com"
classifiers = [
  "Intended Audience :: Science/Research",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.6",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Software Development :: Libraries",
  "Topic :: Software Development",
  "Typing :: Typed",
  "License :: OSI Approved :: MIT License",
]
description-file = "README.md"
home-page = "https://github.com/coltonbh/terachem-cloud-pyclient"
module = "tccloud"

requires = [
  "qcelemental >= 0.24.0",
  "httpx >= 0.16.1",
  "toml >= 0.10.2",
]

requires-python = ">=3.6"

[tool.flit.metadata.urls]
Documentation = "https://mtzgroup.github.io/tccloud/"

[tool.flit.metadata.requires-extra]
test = [
  "pytest >=6.2.1",
  "pytest-cov >=2.10.1,<3.0.0",
  "pytest-httpx >=0.10.1",
  "pytest-mock >=3.5.1",
  "coverage >=5.3.1,<6.0",
]

dev = [
  "flake8 >=3.8.4",
  "pre-commit >= 2.9.3",
  "mypy ==0.790",
  "black >=20.8b1,<21.0b0",
  "isort >=5.7.0,<6.0.0",
  "autoflake >= 1.4",
  "types-toml >= 0.1.1",
]

doc = [
  "mkdocs >= 1.1.2",
  "mkdocs-material >= 7.0.3",
  "mkdocstrings >= 0.15.0",
  "markdown-include >= 0.6.0",
  "livereload >=2.6.3",
]

[tool.pytest.ini_options]
testpaths = "tests/"

[tool.black]
line-length = 88

[tool.isort]
force_grid_wrap = 0
include_trailing_comma = true
line_length = 88
multi_line_output = 3
use_parentheses = true

[tool.coverage.run]
branch = true
omit = [
  "*/tests/*",
  "*/migrations/*",
  "*site-packages*",
  "*__init__.py",
]
